{% extends "base.html" %}

{% block content %}
  <div class="container mt-3">
    <h1 class="m-0">Ubah Data Barang</h1>

    <form action="" method="POST" class="mt-3">
      {% csrf_token %}

      <label>Nama</label>
      <div class="input-group">
        <input type="text" name="nama" class="form-control" value="{{data.nama}}" />
      </div>

      <label class="mt-3">Harga</label>
      <div class="input-group">
        <input type="number" min="0" step="1000" name="harga" class="form-control" value="{{data.harga}}" />
      </div>

      <div class="input-group mt-3">
        <button class="btn btn-primary">Simpan</button>
      </div>
    </form>
  </div>
{% endblock %}
